body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

    body * {
        font-family: 'Inter', sans-serif;
        line-height: 160%;
    }

header {
    margin-top: 32px;
}

    header div {
        width: 120px;
        margin: auto;
        padding: 4px;
        display: flex;

        border-radius: 50%;
        background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.5%, #E2D45C 100%);

        transition: transform .3s;
    }

        header div:hover {
            transform: scale(1.1);
        }

        header div img {
            width: 100%;
            border-radius: 50%;
        }

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.5%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

    section div {
        background-color: #2A2634;
        border-radius: 8px;

        padding: 32px;
        padding-top: 24px;
    }

    section h2 {
        letter-spacing: -0.47px;
    }

    section p {
        color: #A1A1AA;
        letter-spacing: -0.18px;
    }

    section ul {
        margin-top: 24px;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

        section ul li {
            transition: transform .3s;
        }

            section ul li:hover {
                transform: scale(1.1);
            }

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}